<%- include('templates/header') -%>
<%- include('templates/Navigation')-%>
<!-- this is the home page from here one can get to blog section or the online store -->


<h1> Home Page </h1>


<!--  links to store or blog -->


<a href='./store'> Imani store </a>
<a href='./blog'> Imani blog </a>

<%- include('templates/footer') -%>