<%- include('templates/header') -%>
<%- include('templates/Navigation')-%>
<!-- this is the home page from here one can get to blog section or the online store -->


<h1> store items Page </h1>


<!--  links to store or blog -->


<a href='./selectedItem'> Imani store items</a>

<%- include('templates/footer') -%>