<div class="header">
    <nav class="banner">
        <a class="navbar-brand" href="#">IMANI</a>
    </nav>
    </div>
<div class="dropdown"  onclick="linksToggle()">
<h6> links </h6>
<nav class="pageLinks">
    <ol>
        <li class="homeNav"><a href="/">HOME</a></li>
        <li class="aboutNav"><a href="./about">ABOUT </a>  </li>
        <li class="contactNav"><a href="./contact">CONTACT</a> </li>
        <li class="productsNav"><a href="./products"></a> PRODUCTS</li>
        <li class="businessNav"> PARTNERSHIP</li>
    </ol>
</nav>
</div>
